<form class="ui huge stacked segment form" action="/dashboard/addBookCollections" method="POST">
  <div class="field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" autofocus required>
  </div>
  <button class="ui ui green submit button">Add Playlist</button>
</form>