<form class="ui huge stacked segment form" action="/dashboard/addBookCollections" method="POST">
  <div class="field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" autofocus required>
  </div>
  
  <div class="field">
    <label>Image</label>
    <input placeholder="Image" type="text" name="image">
  </div>
  <button class="ui ui green submit button">Add Playlist</button>
</form>