<form class="ui stacked  segment form" action="/about/addcomment" method="POST">
    <div class="field">
      <label>Name</label>
      <input placeholder="Name" type="text" name="name">
    </div>
    <div class="field">
      <label>Comment</label>
      <textarea placeholder="Please enter your comment" type="text" name="comment"></textarea>
    </div>
  <button class="ui green submit button">Add Comment</button>
</form>