  <table class="ui table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Delete Bookmark</th>
    </tr>
  </thead>
  <tbody>
    {{#each bookmark.bookmarks}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{link}}
        </td>
         <td>
          <a href="/bookmark/{{../bookmark.id}}/deletebookmark/{{id}}" class="ui tiny red button">Delete Bookmark</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>