  <table class="ui table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    {{#each bookmarks.bookmarks}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{link}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>