<nav class="ui menu">
  <header class="ui header item menu-header"> <a href="/">Bookmarks</a></header>
  <div class="right menu menu-links">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>

