
{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    A Little Bookmark Maker - Version 1
  </p>
  
  <div id="map">
    <div class="map-container">
      <div id='gmap_canvas'></div>
      </div>  
  </div>
</section>
