{{> menu}}

<section class="ui center aligned middle aligned segment">
   Welcome to Bookmarks
</h1>
<p>
  A small app to let you save your faveorite bookmarks and store them all in one place.
</p>

<section class="background-video">
  <div class="bg-video__content">
    
  </div>
</section>
<div class="homepage-hero-module">
    <div class="video-container">
      <div class=
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="https://cdn.glitch.com/5caa6af6-c275-45f7-9ca0-565583180c91%2Fthumbnails%2FLove-Coding.mp4?1520508832956" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="https://cdn.glitch.com/5caa6af6-c275-45f7-9ca0-565583180c91%2Fthumbnails%2FLove-Coding.webm?1520509416050" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="PATH_TO_JPEG" alt="">
        </div>
    </div>
</div>
</section>