{{> menu}}

<section class="ui center aligned middle aligned segment">
   Welcome to Bookmarks
</h1>
<p>
  A small app to let you save your faveorite bookmarks and store them all in one place.
</p>
</section>