{{> menu}}

<section class="ui center aligned middle aligned segment">
  
<section class="info-section">
  <div class="center-text big-margin-bottom">
    <h2 class="heading-secondary">
      Exciting Bookmarks To Get You Started
    </h2>
  </div>
  
  <div class="ui two column grid">
    <div class="row">
      <div class="column">
        <h3 class="heading-tree small-margin-bottom">
           Your Goin To Fall In Love with these Bookmarks
        </h3>
        
        <p class="para">
          The purpose of this app was to take some well known websites and have links to them website for some of the categories in this app.
          By clicking on one of the categories you will be presented with some really good sites for learning how to code.
          We hope you get the knowlage that we have gotten for these sites
          
        </p>
        
        <h3 class="heading-tree heading-margin-bottom">
           Some of the best resources you can find 
        </h3>
        <p class="para">
          These bookmarks were handpicked by us as we think these are some of the best websites,
          to learn how to code. These website will not only teach you how to code, but will also 
          give you great foundations to build on and who knows one day be like us :)
        </p>
        
        <a id="dashboard"  href="/dashboard" class="btn-text">See Bookmarks</a>
    </div>
     <div class="column">
       <div class="gallery">
         <img src="https://cdn.glitch.com/5caa6af6-c275-45f7-9ca0-565583180c91%2Fgallery3.jpg?1520548652207" class="gallery__photo gallery__photo--1">
         <img src="https://cdn.glitch.com/5caa6af6-c275-45f7-9ca0-565583180c91%2Fgallery2.jpg?1520548652376" class="gallery__photo gallery__photo--2">
         <img src="https://cdn.glitch.com/5caa6af6-c275-45f7-9ca0-565583180c91%2Fgallery1.jpg?1520548652424" class="gallery__photo gallery__photo--3">
         
       </div>
    </div>
  </div>
    </div>
    
</section>
 
</section>




