{{> menu}}

<section class="ui center aligned middle aligned segment">
   Welcome to Bookmarks
</h1>
<p>
  A small app to let you save your faveorite bookmarks and store them all in one place.
</p>

<section class="info-section">
  <div class="center-text margin-bottom">
    <h2 class="heading-secondary">
      Exciting Bookmarks To Get You Started
    </h2>
  </div>
  
  <div class="ui two column grid">
    <div class="row">
      <div class="column">
        <h3 class="heading-tree heading-margin-bottom">
           Your Goin To Fall In Love with these Bookmarks
        </h3>
        
        <p class="para">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          Aenean commodo ligula eget dolor. Aenean massa. 
          Cum sociis natoque penatibus et magnis dis parturient montes, 
          nascetur ridiculus mus.
        </p>
        
        <h3 class="heading-tree heading-margin-bottom">
           Some of the best resources you can find 
        </h3>
        <p class="para">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          Aenean commodo ligula eget dolor. Aenean massa. 
          Cum sociis natoque penatibus et magnis dis parturient montes, 
          nascetur ridiculus mus.
        </p>
        
        <a href="#" class="btn-text">See Bookmarks</a>
    </div>
     <div class="column">
       <div class="gallery">
         <img src="assets/" class="gallery__photo gallery__photo--1">
         <img src="assets/" class="gallery__photo gallery__photo--2">
         <img src="assets/" class="gallery__photo gallery__photo--3">
       </div>
    </div>
  </div>
    </div>
    
</section>
  
  
    
</section>


