{{> menu}}

<section class="ui center aligned middle aligned segment">
   Welcome to Bookmarks
</h1>
<p>
  A small app to let you save your faveorite bookmarks and store them all in one place.
</p>

<section class="info-section">
  <div class="center-text margin-bottom">
    <h2 class="heading-secondary">
      Exciting Bookmarks To Get You Started
    </h2>
  </div>
  
  
    
</section>
  
  
    
</section>


