<div class="ui grid">
  <div class="align-middle big-margin-bottom small-margin-top">
    <h2 class="heading-secondary ">
      Our Great Resources
    </h2>
  </div>
  
  <div class="row">
{{#each bookmark}}
    <div class="four wide column">
      <div class="ui cards">
        <div class="card">
          <div class="content">
            <img class="right floated tiny ui image" src="{{theImage}}">
            <div class="header" id="heading">
              {{title}}
            </div>
            <div class="description">
            </div>
          </div>
          
          <div class="extra content">
            <div class="ui two buttons">
              {{#if bookmarks}}
              <a href="/bookmark/{{id}}" class="ui icon  purple button ">
                <i class="icon folder open"></i>
              </a>
              {{/if}}
              <a href="/dashboard/deletebookmark/{{id}}" class="ui icon red button delete-bookmarks ">
                <i class="icon trash"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
{{/each}}
</div>
</div>